body{
    background-image: url(../gambar/4864288.jpg) ;
    background-size: cover;
    
}
.container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 80vw;
    margin-left: 10%;
    margin-top: 5%;
    border-radius: 10px;
    background-color:rgb(255, 187, 52);
}
.content{
    margin-top: -20%;
}
.content h1{
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    
    text-shadow: 2px 2px 2px black;
}

.content p {
    color: white;
    font-size: 1.2em;
    text-shadow: 2px 2px 2px black;
    margin-bottom:10px;
    padding: 20px;
    text-align:justify ;
}
button{
    background-color: rgb(221, 54, 54);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
footer{
    text-align: center;
    padding: 10px;
    position: fixed;
    color :white;
    bottom: 0;
    margin-left: -1%;
    width: 100%;
}
