body {
    background-image: url(../gambar/4883214.jpg) ;
    background-size: 1300px 750px;
    
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin-left: 11%;
}

.content h1 {
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    
    text-shadow: 2px 2px 2px black;
}

.content ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    
    margin-left: -18%;
 
}

.content li {
    margin-right: 20px;
}

.content a {
    text-decoration: none;
    color: rgb(49, 27, 143);
    font-size: 15px;
    
}

.content a:hover {
    color: aqua;
}
.content ion-icon {
    color: rgb(22, 33, 158);
    font-size: 40px;
    vertical-align: middle;
}
.content ul {
    margin-top: 15%;
}
button{
    background-color: rgb(221, 54, 54);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 49%;
}